[global]
  checkNewVersion = false
  sendAnonymousUsage = false

[api]
  dashboard = true
  insecure = false

[ping]
  entryPoint = "traefik"

[entryPoints]
  [entryPoints.web]
    address = ":80"
    [entryPoints.web.http.redirections.entryPoint]
      to = "websecure"
      scheme = "https"

  [entryPoints.websecure]
    address = ":443"
    [entryPoints.websecure.forwardedHeaders]
      # Trust X-Forwarded-For from Docker networks and loopback
      trustedIPs = ["127.0.0.1/32", "10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]

  [entryPoints.federation]
    address = ":8448"

  [entryPoints.traefik]
    address = ":8080"

[certificatesResolvers.letsencrypt.acme]
  email = "{{ email_address }}"
  storage = "/acme/acme.json"
  {% if letsencrypt_env == 'staging' %}
  caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
  {% endif %}
  [certificatesResolvers.letsencrypt.acme.httpChallenge]
    entryPoint = "web"

[providers]
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    exposedByDefault = false
  
  [providers.file]
    directory = "/etc/traefik/dynamic"
    watch = true

[log]
  level = "INFO"
